Repository voxpupuli/puppet-redis, pull requests merged in 2019-07, with the labels that each got.

#316 Adding support for more redis cluster params
  manifests/init.pp
  manifests/instance.pp
  manifests/params.pp
  spec/classes/redis_spec.rb
  templates/redis.conf.3.2.erb
  templates/redis.conf.erb
Labels: enhancement

#317 release 4.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#320 modulesync 2.8.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/instance.pp
  manifests/preinstall.pp
  manifests/sentinel.pp
  manifests/service.pp
  manifests/ulimit.pp
Labels: modulesync
