Repository voxpupuli/puppet-redis, pull requests merged in 2019-03, with the labels that each got.

#294 Add badges to README
  README.md
Labels: docs

#295 Fix github license detection
  LICENSE
Labels: docs

#297 Drop support for puppet 3 and 4
  metadata.json
Labels: backwards-incompatible

#293 Convert `redisget` to `redis::get` API v4 function
  README.md
  REFERENCE.md
  lib/puppet/functions/redis/get.rb
  lib/puppet/parser/functions/redisget.rb
  spec/acceptance/suites/default/redisget_spec.rb
  spec/functions/redis/get_spec.rb
  types/redisurl.pp
Labels: backwards-incompatible

#284 Initial rhel 8 support
  manifests/params.pp
Labels: enhancement

#302 Support binding to all interfaces
  manifests/init.pp
  manifests/instance.pp
  manifests/params.pp
  manifests/sentinel.pp
  spec/classes/redis_spec.rb
  templates/redis.conf.2.4.10.erb
  templates/redis.conf.2.8.erb
  templates/redis.conf.3.2.erb
  templates/redis.conf.erb
Labels: backwards-incompatible

#303 Add some parameter validation using data types
  manifests/init.pp
  manifests/instance.pp
  manifests/sentinel.pp
  spec/acceptance/suites/default/redis_multi_instances_one_host_spec.rb
  spec/classes/redis_spec.rb
Labels: enhancement

#304 Release 4.0.0
  .sync.yml
  .travis.yml
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog
