Repository voxpupuli/puppet-redis, pull requests merged in 2020-05, with the labels that each got.

#358 Make apt and epel soft dependencies
  README.md
  metadata.json
Labels: backwards-incompatible

#359 Release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#357 Add Ubuntu 20.04 support
  .sync.yml
  .travis.yml
  manifests/params.pp
  metadata.json
Labels: enhancement
