Repository voxpupuli/puppet-redis, pull requests merged in 2021-08, with the labels that each got.

#414 Allow disable to disable slow log
  manifests/init.pp
  manifests/instance.pp
  spec/classes/redis_spec.rb
  templates/redis.conf.epp
Labels: enhancement

#412 Release 8.1.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#413 Honor redis::sentinel::package_ensure
  manifests/sentinel.pp
  spec/classes/redis_sentinel_spec.rb
Labels: bug

#416 Release 8.1.1
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
