Repository voxpupuli/puppet-redis, pull requests merged in 2021-04, with the labels that each got.

#394 puppetlabs/stdlib: Allow 7.x
  metadata.json
Labels: enhancement

#353 Correct config_dir for scl support
  manifests/params.pp
Labels: bug, needs-tests

#400 Declare Puppet 7 support
  metadata.json
Labels: enhancement

#397 release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
