Repository voxpupuli/puppet-redis, pull requests merged in 2021-07, with the labels that each got.

#406 Drop Ubuntu 16.04 support
  REFERENCE.md
  manifests/init.pp
  manifests/instance.pp
  manifests/params.pp
  manifests/sentinel.pp
  metadata.json
  spec/classes/redis_sentinel_spec.rb
  spec/classes/redis_spec.rb
  templates/redis-sentinel.conf.erb
  templates/redis.conf.erb
  templates/service_templates/redis.service.erb
Labels: backwards-incompatible

#392 Drop Puppet 5 support
  metadata.json
Labels: backwards-incompatible

#407 Use EPP for Configfile
  REFERENCE.md
  manifests/init.pp
  manifests/instance.pp
  templates/redis.conf.epp
Labels: backwards-incompatible

#409 Release 8.0.0
  CHANGELOG.md
  Gemfile
  metadata.json
Labels: skip-changelog

#403 Use Puppet-Datatype Sensitive for $masterauth and $auth_pass
  manifests/init.pp
  manifests/instance.pp
  manifests/sentinel.pp
  templates/redis-sentinel.conf.erb
  templates/redis.conf.epp
Labels: enhancement
