Repository voxpupuli/puppet-redis, pull requests merged in 2021-01, with the labels that each got.

#382 Drop sysinit support
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/instance.pp
  manifests/params.pp
  manifests/sentinel.pp
  manifests/service.pp
  manifests/ulimit.pp
  metadata.json
  spec/acceptance/suites/default/redis_multi_instances_one_host_spec.rb
  spec/classes/redis_spec.rb
  spec/defines/instance_spec.rb
  spec/spec_helper.rb
  templates/redis-sentinel.init.erb
  templates/service_templates/redis.Debian.erb
  templates/service_templates/redis.RedHat.erb
Labels: backwards-incompatible

#385 Remove support for THP in Redis module - recommend forge module
  REFERENCE.md
  lib/puppet/functions/redis/get.rb
  manifests/administration.pp
  spec/acceptance/suites/default/redis_adminstration_spec.rb
  spec/classes/redis_administration_spec.rb
Labels: backwards-incompatible

#379 Set the correct log dir on RH SCL
  manifests/init.pp
  manifests/params.pp
Labels: bug

#387 Allow relative paths for $log_file
  manifests/init.pp
  manifests/instance.pp
  spec/classes/redis_spec.rb
Labels: enhancement
