Repository voxpupuli/puppet-redis, pull requests merged in 2022-12, with the labels that each got.

#453 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#458 Release 8.6.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#459 Allow custom replica announce IP/port and Sentinel announce IP
  manifests/init.pp
  manifests/instance.pp
  manifests/sentinel.pp
  spec/classes/redis_sentinel_spec.rb
  spec/classes/redis_spec.rb
  templates/redis-sentinel.conf.erb
  templates/redis.conf.epp
Labels: enhancement

#460 Release 8.7.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#461 modulesync 5.4.0
  .msync.yml
  Gemfile
Labels: modulesync
