Repository voxpupuli/puppet-redis, pull requests merged in 2023-06, with the labels that each got.

#478 Fix for redis.conf.epp bug: save_db_to_disk = false does not work.
  spec/classes/redis_spec.rb
  templates/redis.conf.epp
Labels: bug

#481 Fix missing puppet strings
  REFERENCE.md
  manifests/dnfmodule.pp
  manifests/init.pp
  manifests/instance.pp
  types/redisurl.pp
Labels: bug, docs

#479 Release 9.0.0-rc0
  CHANGELOG.md
Labels: skip-changelog
