Repository voxpupuli/puppet-redis, pull requests merged in 2024-04, with the labels that each got.

#511 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#512 Allow `requirepass` to be set as a Sensitive string
  REFERENCE.md
  manifests/init.pp
  manifests/instance.pp
  spec/classes/redis_spec.rb
  templates/redis.conf.epp
Labels: enhancement

#516 Install redis-sentinal package before redis
  manifests/sentinel.pp
Labels: bug

#517 modulesync 7.5.0
  .msync.yml
Labels: modulesync

#515 Support rich datatypes and deferred password values
  manifests/instance.pp
  spec/acceptance/suites/default/redis_deferred_spec.rb
Labels: bug
