Repository voxpupuli/puppet-redis, pull requests merged in 2024-05, with the labels that each got.

#520 Add Debian 12 Support
  metadata.json
Labels: enhancement

#525 Drop support for EoL CentOS 8
  metadata.json
Labels: backwards-incompatible

#524 Release 11.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
