Repository voxpupuli/puppet-redis, pull requests merged in 2024-02, with the labels that each got.

#501 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#504 remove legacy Debian 10 / Ubuntu 18.04 / CentOS 7
  metadata.json
Labels: backwards-incompatible

#505 Add Ubuntu 22.04
  metadata.json
Labels: enhancement

#506 Release 10.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
